{% extends "base.html" %}



{% block head_content %}
<title>FastAPI One Time Secret</title>
{% endblock%}

{% block page_content %}

<div class="header-bar">

<h2>404</h2>
</div>

<div class="card-body">

<p>
    <h2>Retrieve Secret Failed </h2>
    
    <h4>This secret either never existed or it was already read</h4>

</p>


<a href="/">Go Back</a>

</div>


<!--

    <p>
        <br>
        Debugging output
        
        <br>
        <br>
        What are the request fields?    
        Reference:   https://www.starlette.io/requests/
        
        <br>
        <br>
        request.method , request.url.path (defaults to POST , /getsecret)
        <br>
        {{request.method}} , {{request.url.path}}
        <br>
        
        request.client.host , request.url.port, request.url.scheme (defaults to 127.0.0.1 , 8000 ,   http)
        <br>
        {{request.client.host}} , {{request.url.port}} , {{request.url.scheme}}
        <br>
        
        request.headers['content-type'] (defaults to application/x-www-form-urlencoded)
        <br>
        {{request.headers['content-type']}}
        
    </p>
-->

{% endblock %}
