{% extends "base.html" %}



{% block head_content %}
<title>Retrieve Secret</title>
{% endblock%}


{% block page_content %}

<div class="header-bar">
    <h2>Success</h2>
</div>

<div class="card-body">

<p>
<h4>The message:</h4>
<br>

<div class="data-bar">
    <div id="a" onclick="copyDivToClipboard()">
    {{data.plaintext}}
    </div>
</div>
 Click on text to copy 

</p>
<em><i>(Caution: this message can only be decrypted once.  Be sure to make a note of this message before closing this page.)</i></em>


<br>
<br>
<a href="/">Go Back</a>

</div>

<!--

    <p>
        <br>
        Debugging output
        
        <br>
        <br>
        What are the request fields?    
        Reference:   https://www.starlette.io/requests/
        
        <br>
        <br>
        request.method , request.url.path (defaults to POST , /getsecret)
        <br>
        {{request.method}} , {{request.url.path}}
        <br>
        
        request.client.host , request.url.port, request.url.scheme (defaults to 127.0.0.1 , 8000 ,   http)
        <br>
        {{request.client.host}} , {{request.url.port}} , {{request.url.scheme}}
        <br>
        
        request.headers['content-type'] (defaults to application/x-www-form-urlencoded)
        <br>
        {{request.headers['content-type']}}
        
    </p>
-->
    

<script>
    function copyDivToClipboard() {
        var range = document.createRange();
        range.selectNode(document.getElementById("a"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text 
        document.execCommand("copy");
        tempAlert("text copied to clipboard", 1000) 
        window.getSelection().removeAllRanges();// to deselect 
    }

    function tempAlert(msg,duration) {
        var el = document.createElement("div");
        el.setAttribute("style","position:absolute;top:40%;left:20%;background-color:white;");
        el.innerHTML = msg;
        setTimeout(function(){
            el.parentNode.removeChild(el);
        },duration);
        document.body.appendChild(el);
    }           
</script>   


{% endblock %}
