{% extends "base.html" %}



{% block head_content %}
<title>Retrieve Secret</title>
{% endblock%}


{% block page_content %}
<div class="header-bar">
    <h2>This message requires a passphrase</h2>
</div>
    

<div class="card-body">

<form action="/getsecret" method="post">
    <h2>Retrieve Secret</h2>

    <input type="hidden" name="id" value="{{id}}">            


    <br>


    <label for="passphrase">Passphrase : </label>
    <input type="text" name="passphrase" placeholder="Enter the passphrase here" value="" required>        
    <br>
    <br>
    <button class="button" type="submit">Retrieve Secret</button>
</form>
<br>
<em><i>(Caution: this message can only be decrypted once.)</i></em>

<br>
<br>

<a href="/">Go Back</a>

</div>



{% endblock %}
